@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply min-h-screen bg-gradient-to-bl from-[#b0e5d0] to-[#5ccaee69] px-4 py-10 text-black;
}

/*Range Reset*/
input[type="range"] {
  --slider-height: 5rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: grey;
  cursor: pointer;
  height: var(--slider-height);
}

input[type="range"].active {
  background: linear-gradient(to right, red, green);
}

/* Removes default focus */
input[type="range"]:focus {
  border: none;
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-block: auto;

  height: var(--slider-height);
  width: 5px;
}

input[type="range"].active::-webkit-slider-thumb {
  background-color: black;
}
